<html>
    <head>
        {% if title %}
        <title>{{ title }} - microblog</title>
        {% else %}
        <title>Welcome to Microblog---this is the % else % sentences!</title>
        {% endif %}
    </head>
    <body>
        <div>
            Microblog:
            <a href="{{ url_for('index')}}">Home</a>
            <a href="{{url_for('login')}}">Login</a>
            <a href="{{url_for('Feedback')}}">Feedback</a>

			<a href="/Fun1">Function1</a>
			<a href="/Fun2">Function2</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>